@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*{
  box-sizing: border-box;
}
body{
  margin: 0 auto;
}

.header{
  font-family: 'Inter', sans-serif;
  padding-left: 20px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%); 
}
.header--image{
  height: 100%;
  margin-right: 6px;
}
.header--title{
  font-size: 1.25rem;
  margin-right: auto;
}
.header--text{
  font-size: .75rem;
  line-height: 15px;
  text-align: right;
  margin-right: 10px;
  
}
main{
  padding: 36px;
  font-family: 'Karla', sans-serif;
}
.meme--form{
  display:grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  align-items: center;
  justify-content: center;
  }

.meme--input-left, .meme--input-right{
  height:36px;
  border-radius: 3px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
}
.meme--button{
  grid-column: 1 / -1;
  height: 40px;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  border-radius: 5px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;

}